


<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
   <h1>Login</h1>
    <ion-card>

      <ion-item>
        <ion-icon color="primary" name="person" item-left></ion-icon>
        <ion-label stacked>Username or Email</ion-label>
        <ion-input type="text" formControlName="username" placeholder="Enter username/email"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(username.dirty || submitAttempt) && !username.valid">
        <p *ngIf="username.hasError('required')" style="color: red">Contact No. is required.</p>
        <p *ngIf="username.hasError('pattern')" style="color: red">Contact No. is invalid.</p>
      </ion-item>

      <ion-item>
        <ion-icon color="primary" name="unlock" item-left></ion-icon>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" formControlName="password" placeholder="Enter Password"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(password.dirty || submitAttempt) && !password.valid">
        <p style="color: red">Password is required.</p>
      </ion-item>
      <button type="submit" ion-button full>Log In</button>

    </ion-card>


  </form>
</ion-content>