<ion-content class="locator">
<!-- FOLLOWING CARD IS VISIBLE ONLY WHEN USER IS CLOCKEDIN -->
  <ion-card *ngIf="location.lat && location.long" class="clock-in-details">
    <ion-item>
      <ion-icon name="pin" color="gray" item-left></ion-icon>
      <h4>Last Location</h4>
      <p>Long: {{location.long}}, Lat: {{location.lat}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="time" color="gray" item-left></ion-icon>
      <h4>Clock In Time</h4>
      <p>{{clockedInTime | date:'medium'}}</p>
    </ion-item>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab color="danger" mini (click)="onLogout()">
      <ion-icon name="md-power"></ion-icon>
    </button>
  </ion-fab>

  <!-- FOR CLOCK IN -->
  <ion-fab *ngIf="!clockedIn" class="middle" text-center>
    <button ion-fab class='fab-large' color="secondary" (click)="onClockIn()">
      <ion-icon name='md-time'></ion-icon>
    </button>
    <h4>Clock In</h4>
  </ion-fab>

  <!-- FOR CLOCK OUT -->
  <ion-fab *ngIf="clockedIn" class="middle" text-center>
    <button ion-fab class='fab-large' color="secondary" (click)="onClockOut()">
      <ion-icon name='md-time'></ion-icon>
    </button>
    <h4>Clock Out</h4>
  </ion-fab>
</ion-content>