<ion-content class="locator">

  <ion-card *ngIf="location" class="clock-in-details">
    <ion-item>
      <ion-icon name="pin" color="gray" item-left></ion-icon>
      <h4>Last Location</h4>
      <p>Long: {{location.long}}, Lat: {{location.lat}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="time" color="gray" item-left></ion-icon>
      <h4>{{clockedIn ? 'Clock In Time': 'Last Session'}}</h4>
      <p *ngIf="clockedIn">{{clockedInTime | date:'medium'}}</p>
      <p *ngIf="!clockedIn">{{clockedInTime | date:'shortTime'}} - {{clockedOutTime | date:'shortTime'}},  {{clockedOutTime | date:'mediumDate'}}</p>
    </ion-item>
  </ion-card>

  <ion-fab bottom right>
    <button ion-fab color="danger" mini (click)="onLogout()">
      <ion-icon name="md-power"></ion-icon>
    </button>
  </ion-fab>

  <!-- FOR CLOCK IN -->
  <ion-fab *ngIf="!clockedIn" class="middle" text-center>
    <button ion-fab class='fab-large' color="secondary" (click)="onClockIn()">
      <ion-icon name='md-time'></ion-icon>
    </button>
    <h4>Clock In</h4>
  </ion-fab>

  <!-- FOR CLOCK OUT -->
  <ion-fab *ngIf="clockedIn" class="middle" text-center>
    <button ion-fab class='fab-large' color="secondary" (click)="onClockOut()">
      <ion-icon name='md-time'></ion-icon>
    </button>
    <h4>Clock Out</h4>
  </ion-fab>
</ion-content>