<ion-content padding>
  <!-- APP LOGO GOES HERE -->

  <div padding>
    <h3 text-center>Select Mode</h3>
    <ion-item>
      <ion-label>Select Mode</ion-label>
      <ion-select [(ngModel)]="mode" interface="popover">
        <ion-option value="online">Online</ion-option>
        <ion-option value="offline">Offline</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="mode=='offline'">
      <ion-label floating>IP Address</ion-label>
      <ion-input [(ngModel)]="ipAddress" ></ion-input>
    </ion-item>
    <small *ngIf="mode=='offline'">Enter IP address of local server</small>

    <button type="button" margin-top ion-button full round [disabled]="mode=='offline' && !ipAddress"
    (click)="onGoToLogin()">
    GO TO LOGIN</button>
  </div>


</ion-content>